<!doctype html>
<html>
	<head>
		!(templates/head.html)
		<title>limonad :: Projects</title>
	</head>
	<body>
		<header>
			!(templates/menu.html)
		</header>
		<div id="wrapper">
			<nav>
				<ul id="heading">
					<li><a href="/" class="nostyle">projects</a></li>
					<li class="current"><a href="/about" class="nostyle">about</a></li>
					<li><a href="/code" class="nostyle">code</a></li>
				</ul>
			</nav>
			<section>
				<h2>What is DarcsUI ?</h2>
				<p>DarcsUI is a f***ing great web interface for Darcs.</p>
			</section>
		</div>
	</body>
</html>