<!doctype html>
<html>
	<head>
		!(templates/head.html)
		<title>limonad :: Projects</title>
	</head>
	<body>
		<header>
			!(templates/menu.html)
		</header>
		<div id="wrapper">
			<nav>
				<ul id="heading">
					<li><a href="/" class="nostyle">projects</a></li>
					<li><a href="/readme/?n={{ slug }}" class="nostyle">readme</a></li>
					<li class="current"><a href="/log/?n={{ slug }}" class="nostyle">log</a></li>
					<li><a href="/commit/?n={{ slug }}&amp;h=latest" class="nostyle">commit</a></li>
					<li><a href="/tree/?n={{ slug }}" class="nostyle">tree</a></li>
					<li><a href="/tar/?n={{ slug }}" class="nostyle">download</a></li>
				</ul>
			</nav>
			<table>
				<thead>
					<tr>
						<th>Message</th>
						<th>Author</th>
						<th>Date</th>
						<th>Files</th>
						<th>Lines</th>
					</tr>
				</thead>
				<tbody>
					[[ commits as commit ]]((
					<tr>
						<td>{{ commit.message }}</td>
						<td>{{ commit.author }}</td>
						<td>{{ commit.date }}</td>
						<td>{{ commit.files }}</td>
						<td>{{ commit.lines }}</td>
					</tr>
					))
				</tbody>
			</table>
		</div>
	</body>
</html>