<!doctype html>
<html>
	<head>
		!(templates/head.html)
		<title>DarcsUI :: Projects</title>
	</head>
	<body>
		<header>
			!(templates/menu.html)
		</header>
		<div id="wrapper">
			<h1>Projects</h1>
			<table>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
					[[ repositories as repository ]](
					<tr>
						<td><a href="/repo/?n={{ repository.slug }}">{{ repository.name }}</a></td>
						<td>{{ repository.desc }}</td>
					</tr>
					)
			</table>
		</div>
	</body>
</html>